$linkFont: "sans-serif";
$linkColor:#ff99ff;

#all{

width: 1200px;
height: 100%;
margin: 0 auto;
}
#menu {
  display: inline-block;
  
}


.col{
display: inline-block;}

.row img{
	width: 300px;
	height:200px;
}
table{
	border: 1px solid black;
	background:	 #e6f5ff;
	margin:10px;
	padding: 10px;
	margin-top: 0px;
}
table tr td {	
	border: 1px solid black;
	
	margin:10px;
padding: 10px;	}


@media only screen and (max-width : 650px) {
.row img{
		width: 250px;
		height:180px;
		}
.slogan h1{
		font-size: 20px;
	}
}

@media only screen and (max-width : 480px) {
.row img{
		width: 200px;
		height:150px;
		}
.slogan h1{
		font-size: 18px;
	}
}


